<div class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0)">Collaborate</a>
    </div>
    
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Settings
            <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#profile">Profile</a></li>
            <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</div>
<div class="col-lg-2 col-md-2 col-sm-2 side-bar" style="margin-top:-21px; padding-left:0px;">
  <div class="list-group table-of-contents">
    <a class="list-group-item anchor" ng-repeat="user in users" ui-sref="home.messages({'id':user._id})" list-item>
      {{user.name.first}}
    </a>
  </div>
</div>

<div ui-view="profile"></div>

<div class="messages">
  <div ui-view="messages"></div>
</div>
