<div class="col-md-12" style="margin-top:15%">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label for="inputEmail" class="col-md-2 control-label">Email</label>

          <div class="col-md-10">
            <input type="email" class="form-control" id="inputEmail" ng-model="username" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Password</label>

          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" ng-model="password" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button ng-click="login()" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="alert alert-danger" ng-if="error">
      <span ng-bind="errMsg"></span>
    </div>
  </div>
</div>

