/* app css stylesheet */

.menu {
  list-style: none;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  border-right:2px solid #ccc;
}

.anchor {
  cursor: pointer;
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.notification-temp-top {
  position : absolute;
  left:0px;
  right:0px;
  top:0px;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.notification-temp-top.ng-hide {
  animation-duration: 0.5s;
  animation-name: slideout;
}

.notification-error {
  animation-duration:0.5s;
  animation-name : fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    top : -60px;
  }

  to {
    top : 0px;
  }
}

@keyframes slideout {
  from {
    top : 0px;
  }

  to {
    top : -60px;
  }
}
* {
    box-sizing: border-box;
}

.side-bar {
  top:73px;
  bottom:0px;
  position:fixed;
  background-color:#222222;
  padding-right: 0px;
}

.side-bar a, .side-bar a:hover {
  background-color:#222222;
  border: #222222;
  color: #ffffff;
  padding-right: 0px;
}
.header-panel {
    background-color: #009587;
    height: 144px;
    position: relative;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.menu {
    overflow: auto;
    padding: 0;
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
}

.menu ul li {
    list-style: none;
    padding-left:25px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top : 10px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 64px;
}

.pages .header {
    color: rgb(82, 101, 162);
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.opensource {
    color: rgba(0, 0, 0, 0.62);
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    z-index: 100;
}

#source-modal h4 {
    color: black;
}

#paypal .btn {
    padding: 5px 30px 6px 30px;
}

#paypal input {
    background: transparent;
    border: 0;
}

.cbwrapper div {
    display: none;
}

.cbwrapper div:nth-child(2) {
    display: block;
}

#carbonads, #fakecb {
    border: 1px solid #d5d5d5;
    font-size: 11px;
    line-height: 15px;
    overflow: hidden;
    width: 340px;
    padding: 20px;
    margin: auto;
    height: 142px;
    border-radius: 2px;
}

#carbonads .carbon-img {
    float: left;
    display: block;
}

#carbonads .carbon-text, #carbonads .carbon-poweredby {
    float: left;
    width: 150px;
    padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover, #carbonads .carbon-poweredby:hover {
    text-decoration: none;
}

#carbonads .carbon-poweredby {
    color: #9D9D9D;
}

#shadow .sample {
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    display: inline-block;
}

#shadow-sample2 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

}

#shadow-sample3 {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 16px;
    padding: 16px;
    border-radius: 100px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#input .inputs {
    width: 80%;
}

.side-nav {
  position: fixed;
  top: 60px;
  left:0px;
  bottom:0px;
}

.side-nav nav {
  height:100%;
  width:150px;
}

.messages {
  left : 204px;
  height: 100%;
  width:100%;
  position: fixed;
  top:52px;
  overflow-x:auto;
}

.message {
  position: relative;
  margin-top: .5rem;
  padding: .25rem 2rem .1rem 3rem;
  min-height: 36px;
}

.message_profile-pic {
  position: absolute;
  left: 0;
  display: block;
  -moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
  width: 36px;
  height: 36px;
  background-color: gray;
  background-size: cover;
  margin-top: 5px;
  margin-left:5px;
}

.message_username {
  font-weight: 900;
  padding-right: .25rem;
  color: #3d3c40 !important;
  margin-left: 0;
  font-style: normal;
  text-decoration: none;
}

.message_timestamp {
  text-align: left;
  display: inline;
  position: relative;
  top: 0;
  left: 0;
  color: #babbbf;
  font-size: 12px;
  line-height: 1.2rem;
  width: 36px;
  margin-right: 0;
  margin-left: 0;
}

.message_content {
  color: #8b898f;
  font-style: italic;
  display: block;
  min-height: 1rem;
}

.message-details {
  margin-left:15px;
}



