<div class="message" ng-repeat="message in messages track by $index">
    <a href="" class="message_profile-pic"></a>
    <div class="message-details">
      <a href="" class="message_username">{{message.username}}</a>
      <span class="message_timestamp">{{message.timestamp}}</span>
      <span class="message_star"></span>
      <span class="message_content">{{message.context}}</span>
    </div>
</div>

<div class="chat-box">
  <textarea type="text" class="form-control" id="chatBox" placeholder="Type something.."></textarea>
</div>