/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.notification-temp-top {
  position : absolute;
  left:0px;
  right:0px;
  top:0px;
  animation-duration: 0.5s;
  animation-name: slidein;
}

.notification-temp-top.ng-hide {
  animation-duration: 0.5s;
  animation-name: slideout;
}

.notification-error {
  animation-duration:0.5s;
  animation-name : fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    top : -60px;
  }

  to {
    top : 0px;
  }
}

@keyframes slideout {
  from {
    top : 0px;
  }

  to {
    top : -60px;
  }
}
